
#sport-categories {
    list-style: none;
    padding: 0;
    cursor: pointer;
}

#sport-categories li {
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #2d52f7;
    border-radius: 5px;
    background-color: #a0aeee;
}

#sport-categories li:hover {
    background-color: #58bbf5;
}

#tournament-list {
    list-style: none;
    padding: 0;
    cursor: pointer;
}

#tournament-list li {
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #f19925;
    border-radius: 5px;
    background-color: #cef039;
}

#tournament-list li:hover {
    background-color: #d9f100;
}

#tournament-list li.selected-tournament {
    background-color: #d9f100;
}

#match-results {
    list-style: none;
    padding: 0;
}

#match-results li {
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f36f6f;
}

#match-results li:hover {
    background-color: #f30000;
}

#sport-categories {
    display: flex;
    justify-content: space-around; /* Равномерное распределение пространства между картинками */
    align-items: center;
    margin-top: -400px;
    justify-content: space-between;
}

/* Дополнительный стиль для изображений */
#sport-categories img {
    width: 150px; /* Ширина изображений */
    height: auto; /* Автоматическая высота */
    cursor: pointer; /* Изменение курсора при наведении */
    margin-right: 161.5px;
}

#sport-categories img:last-child {
    margin-right: 0;
}